:root {
  --spacing-base: 8px;
  --column-size: 350px;
  --border-radius: 10px;

  --font-family: Poppins, sans-serif;
  --base-font-size: 18px;
  --font-ratio: 1.33;

  --color-main: #{lighten(blue, 20%)};

  --color-base-bg--light: #eee;
  --color-base-bg--dark: #222;

  --color-base-text--light: #333;
  --color-base-text--dark: #eee;

  --color-action-bar--light: #{rgba(#000, 0.1)};
  --color-action-bar--dark: #{rgba(#000, 0.2)};

  --color-column-bg--light: #ccc;
  --color-column-bg--dark: #444;

  --color-task-bg--light: #{rgba(#fff, 0.3)};
  --color-task-bg--dark: #{rgba(#000, 0.3)};

  --color-input-border: #aaa;
  --color-input-border--focused: var(--color-main);
  --color-input-bg: #{rgba(#fff, .02)};

  --color-button-bg: var(--color-main);
  --color-button-bg-hover: teal;
  --color-button-text: #fff;

  --color-drag-1: #{rgba(#000, .1)};
  --color-drag-2: #{rgba(#000, .4)};
  --angle-drag: 35deg;

  --animation-bounce: cubic-bezier(.175, .885, .32, 1.275);
  --draggable-bg: #{repeating-linear-gradient(
      var(--angle-drag),
      var(--color-drag-1),
      var(--color-drag-1) 2px,
      var(--color-drag-2) 2px,
      var(--color-drag-2) 4px,
    )};

  --color-base-bg: var(--color-base-bg--light);
  --color-base-text: var(--color-base-text--light);
  --color-action-bar-bg: var(--color-action-bar--light);
  --color-column-bg: var(--color-column-bg--light);
  --color-task-bg: var(--color-task-bg--light);
  --color-column-text: var(--color-base-text);
}

%listless {
  list-style: none;
  margin: 0;
  padding: 0;
}

%row {
  display: flex;
  flex-direction: row;
}

%column {
  display: flex;
  flex-direction: column;
}

%fill-all {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@function space($multiplier: 1) {
  @return calc(var(--spacing-base) * $multiplier);
}

@function font-ratio($multiplier: 0) {
  @if $multiplier < 1 {
    @return var(--base-font-size);
  }

  @return calc(var(--base-font-size) * (var(--font-ratio) * #{$multiplier}));
}

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin hover-bg($color: #fff) {
  transition: background .5s ease-in;

  &:hover {
    background: $color;
    transition: background .3s ease-in;
  }
}

@mixin hover-gradient($from, $to, $position: relative) {
  --in-speed: 0.3s ease-in;
  --out-speed: 0.5s ease-out;

  background: $from;
  position: $position;
  transition: background var(--out-speed);
  z-index: 1;

  &:before {
    @extend %fill-all;

    background: $to;
    content: "";
    opacity: 0;
    position: absolute;
    transition: opacity var(--out-speed);
    z-index: -1;
  }

  &:hover {
    background-color: rgba(#000, 0.0);
    transition: background var(--in-speed);

    &:before {
      opacity: 1;
      transition: opacity var(--in-speed);
    }
  }
}


@for $i from 1 through 4 {
  h#{$i}, .h#{$i} {
    font-size: font-ratio(4 - $i);
    font-weight: bold;
  }
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  @media (prefers-color-scheme: dark) {
    --color-base-bg: var(--color-base-bg--dark);
    --color-base-text: var(--color-base-text--dark);
    --color-action-bar-bg: var(--color-action-bar--dark);
    --color-column-bg: var(--color-column-bg--dark);
    --color-task-bg: var(--color-task-bg--dark);

    --color-column-text: var(--color-base-text);
  }

  @include size(100%);
  color: var(--color-base-text);
  font-family: var(--font-family);
  font-size: var(--base-font-size);
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-base-bg);
}

input, button, textarea, label {
  font-family: var(--font-family);
}

input, textarea {
  background-color: var(--color-input-bg);
  border: none; // reset border
  border-bottom: 1px solid var(--color-input-border);
  color: var(--color-column-text);
  padding: 0;
  outline: none;

  &:focus {
    border-bottom: 1px solid var(--color-input-border--focused);
  }
}

.site-header {
  @extend %row;

  align-items: center;
  background-color: rgba(purple, .15);
}

.site-logo {
  margin: space() space(2);
}

.flex-filler {
  flex-grow: 1;
}

.action-bar {
  @extend %listless;
  @extend %row;

  align-items: center;
  background-color: var(--color-action-bar-bg);
  padding: space(.5);

  &.draggable {
    cursor: pointer;
  }
}

.board,
.column {
  overflow: auto;
  padding-bottom: space(2);

  &__title {
    border-bottom: 1px solid transparent;
    cursor: pointer;
    display: block;
    margin: space(2);
  }
}

.board__columns,
.column__tasks {
  @extend %listless;

  display: flex;
  flex-wrap: nowrap;
  padding: 0 space(2);
}

.board {
  height: 100%;

  &__columns {
    align-items: flex-start;
    gap: space(2);
  }
}

.column {
  @extend %column;

  background-color: var(--color-column-bg);
  border-radius: var(--border-radius);
  box-shadow: 0px 2px 5px rgba(#000, .1);
  color: var(--color-column-text);
  min-width: var(--column-size);
  width: var(--column-size);

  &__title {
    margin: space() space(2) 0;
  }

  &__tasks {
    @extend %column;

    gap: space();
  }
}

@keyframes pop-in {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.task {
  background-color: var(--color-task-bg);
  border-radius: var(--border-radius);
  overflow: auto;

  &__title,
  &__description {
    display: block;
    margin: space() space(2);
  }

  &.view-task {
    @include hover-gradient(
      var(--color-task-bg),
      var(--draggable-bg)
    );

    animation: pop-in .2s var(--animation-bounce);
    cursor: pointer;
  }

  &.editable-task {
    @extend %column;

    padding-bottom: space(2);
  }

  &__remove-button {
    cursor: pointer;
  }
}

button,
.button {
  @include hover-bg(var(--color-button-bg-hover));

  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: var(--base-font-size);
  font-weight: bold;
  padding: space(.5) space();
}

.add-button {
  --content-padding: #{space(.5) space()};

  @extend %row;

  align-items: center;
  background-color: var(--color-button-bg);
  border: none;
  color: var(--color-button-text);
  margin: space(2);
  overflow: hidden;
  padding: 0;

  &__plus {
    background-color: rgba(#000, .2);
    padding: var(--content-padding);
  }

  &__content {
    padding: var(--content-padding);
  }
}

.remove-button {
  background-color: transparent;
  border: none;
  color: var(--color-button-text);
}

.board-list {
  @extend %column;

  cursor: pointer;
  position: relative;
  width: 300px;

  &__active {
    padding: space() space(2);
  }

  &:focus {
    .board-list__dropdown {
      @extend %column;
    }
  }

  &__dropdown {
    @extend %listless;
    display: none;
    left: 0;
    position: absolute;
    top: space(6);
    width: 100%;
  }

  &__item {
    background-color: red;
    padding: space() space(2);
  }
}
