:root {
  --spacing-base: 8px;
  --column-size: 350px;

  --font-family: Poppins, sans-serif;
  --base-font-size: 18px;
  --font-ratio: 1.33;

  --color-main: #{lighten(blue, 20%)};

  --color-base-bg: #222;
  --color-base-text: #eee;

  --color-column-bg: #444;
  --color-column-text: var(--color-base-text);

  --color-task-bg: #{rgba(#000, 0)};
  --color-task-border: #aaa;
  --color-task-border--editing: var(--color-main);

  --color-input-border: #aaa;
  --color-input-border--focused: var(--color-main);
  --color-input-bg: #{rgba(#fff, .02)};

  --color-button-bg: var(--color-main);
  --color-button-bg-hover: teal;
  --color-button-border: var(--color-main);
  --color-button-text: #fff;

  --color-drag-1: #{rgba(#000, .1)};
  --color-drag-2: #{rgba(#000, .25)};
  --angle-drag: 30deg;

  --animation-bounce: cubic-bezier(.175, .885, .32, 1.275);
}

%listless {
  list-style: none;
  margin: 0;
  padding: 0;
}

%row {
  display: flex;
  flex-direction: row;
}

%column {
  display: flex;
  flex-direction: column;
}

@function space($multiplier: 1) {
  @return calc(var(--spacing-base) * $multiplier);
}

@function font-ratio($multiplier: 0) {
  @if $multiplier < 1 {
    @return var(--base-font-size);
  }

  @return calc(var(--base-font-size) * (var(--font-ratio) * #{$multiplier}));
}

@for $i from 1 through 4 {
  h#{$i}, .h#{$i} {
    font-size: font-ratio(4 - $i);
    font-weight: bold;
  }
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  color: var(--color-base-text);
  font-family: var(--font-family);
  font-size: var(--base-font-size);
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background-color: var(--color-base-bg);
}

input, button, textarea, label {
  font-family: var(--font-family);
}

input, textarea {
  background-color: var(--color-input-bg);
  border-bottom: 1px solid var(--color-input-border);
  border: none; // reset border
  color: var(--color-column-text);
  margin-bottom: space();
  padding: 0;

  &:focus {
    border-bottom: 1px solid var(--color-input-border--focused);
    outline: none;
  }
}

.site-header {
  @extend %row;

  align-items: center;
  background-color: rgba(purple, .15);
}

.site-logo {
  margin: space() space(2);
}

.flex-filler {
  flex-grow: 1;
}

.action-bar {
  @extend %listless;
  @extend %row;

  align-items: center;
  padding: space();

  &.draggable {
    background: repeating-linear-gradient(
      var(--angle-drag),
      var(--color-drag-1),
      var(--color-drag-1) 2px,
      var(--color-drag-2) 2px,
      var(--color-drag-2) 4px,
    );
    cursor: pointer;
  }
}

.board,
.column {
  overflow: auto;
  padding-bottom: space(2);

  &__title {
    cursor: pointer;
    display: block;
    margin: space(2);
  }
}

.board__columns,
.column__tasks {
  @extend %listless;

  display: flex;
  flex-wrap: nowrap;
  padding: 0 space(2);
}

.board {
  height: 100%;

  &__columns {
    align-items: flex-start;
    gap: space(2);
  }
}

.column {
  @extend %column;

  background-color: var(--color-column-bg);
  border-radius: 3px;
  box-shadow: 0px 2px 5px rgba(#000, .1);
  color: var(--color-column-text);
  min-width: var(--column-size);
  width: var(--column-size);

  &__tasks {
    @extend %column;

    gap: space();
  }
}

.task {
  border-radius: 3px;
  border: 1px solid var(--color-task-border);
  overflow: auto;

  &__title,
  &__description {
    display: block;
    margin: space() space(2);
  }

  &__remove-button {
    cursor: pointer;
  }
}

@keyframes pop-in {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.task {
  &__title,
  &__description {
    display: block;
    margin: space() space(2);
  }

  &.view-task {
    animation: pop-in .2s var(--animation-bounce);
    cursor: pointer;
    transition: background-color .3s ease-in-out;

    &:hover {
      background-color: rgba(purple, .1);
      transition: background-color .1s ease-in-out;
    }
  }

  &.editable-task {
    @extend %column;

    border-color: var(--color-task-border--editing);
    padding-bottom: space(2);
  }
}

button,
.button {
  border-radius: 3px;
  cursor: pointer;
  font-size: var(--base-font-size);
  font-weight: bold;
  padding: space(.5) space();
}

.add-button {
  @extend %row;

  align-items: center;
  background-color: var(--color-button-bg);
  border: 0px solid var(--color-button-border);
  color: var(--color-button-text);
  margin: space(2);
  padding: 0;
  transition: background-color .5s;

  &:hover {
    background-color: var(--color-button-bg-hover);
    transition: background-color .2s;
  }

  &__plus {
    background-color: rgba(#000, .2);
    padding: space(.5) space(1);
  }

  &__content {
    padding: space(.5) space(1);
  }
}

.remove-button {
  background-color: transparent;
  border: 1px solid var(--color-button-border);
  color: var(--color-button-text);
}

.board-list {
  @extend %column;

  cursor: pointer;
  position: relative;
  width: 300px;

  &__active {
    padding: space(1) space(2);
  }

  &:focus {
    .board-list__dropdown {
      @extend %column;
    }
  }

  &__dropdown {
    @extend %listless;
    display: none;
    width: 100%;
    position: absolute;
    top: space(6);
    left: 0;
  }

  &__item {
    padding: space(1) space(2);
    background-color: red;
  }
}
