:root {
  --spacing-base: 8px;
  --column-size: 350px;

  --font-family: Poppins, sans-serif;
  --base-font-size: 18px;
  --font-ratio: 1.33;

  --color-main: #{lighten(blue, 20%)};

  --color-base-bg: #222;
  --color-base-text: #eee;

  --color-column-bg: #444;
  --color-column-text: #fff;

  --color-task-bg: #{rgba(#000, 0)};
  --color-task-border: #aaa;
  --color-task-border--editing: var(--color-main);

  --color-input-border: #aaa;
  --color-input-border--focused: var(--color-main);
  --color-input-bg: rgba(#fff, 0.1);

  --color-button-bg: var(--color-main);
  --color-button-border: var(--color-main);
  --color-button-text: #fff;

  --color-drag-1: #{rgba(#000, 0.1)};
  --color-drag-2: #{rgba(#000, 0.25)};
  --angle-drag: 30deg;
}

@mixin listless {
  list-style: none;
  margin: 0;
  padding: 0;
}

@function space($multiplier: 1) {
  @return calc(var(--spacing-base) * $multiplier);
}

@function font-ratio($multiplier: 0) {
  @if $multiplier < 1 {
    @return var(--base-font-size);
  }

  @return calc(var(--base-font-size) * (var(--font-ratio) * #{$multiplier}));
}

@for $i from 1 through 4 {
  h#{$i}, .h#{$i} {
    font-size: font-ratio(4 - $i);
    font-weight: bold;
  }
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  color: var(--color-base-text);
  font-family: var(--font-family);
  font-size: var(--base-font-size);
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background-color: var(--color-base-bg);
}

input, button, textarea, label {
  font-family: var(--font-family);
}

input, textarea {
  border: none;
  border-bottom: 1px solid var(--color-input-border);
  background-color: var(--color-input-bg);
  color: var(--color-column-text);
  margin-bottom: space();
  padding: 0;

  &:focus {
    outline: none;
    border-bottom: 1px solid var(--color-input-border--focused);
  }
}

.action-bar {
  @include listless;

  display: flex;
  flex-direction: row;
  padding: space();

  &.draggable {
    background: repeating-linear-gradient(
      var(--angle-drag),
      var(--color-drag-1),
      var(--color-drag-1) 2px,
      var(--color-drag-2) 2px,
      var(--color-drag-2) 4px,
    );
    cursor: pointer;
  }
}

.board,
.column {
  overflow: auto;
  padding-bottom: space(2);

  &__title {
    margin: space(2);
  }
}

.board__columns,
.column__tasks {
  @include listless;

  display: flex;
  flex-wrap: nowrap;
  padding: 0 space(2);
}

.board {
  height: 100%;

  &__columns {
    align-items: flex-start;
    gap: space(2);
  }
}

.column {
  background-color: var(--color-column-bg);
  border-radius: 3px;
  box-shadow: 0px 2px 5px rgba(#000, 0.1);
  color: var(--color-column-text);
  display: flex;
  flex-direction: column;
  min-width: var(--column-size);
  width: var(--column-size);

  &__tasks {
    flex-direction: column;
    gap: space();
  }
}

.task {
  border-radius: 3px;
  border: 1px solid var(--color-task-border);
  overflow: auto;

  &__title,
  &__description {
    margin: space() space(2);
    display: block;
  }

  &__remove-button {
    cursor: pointer;
  }
}

@keyframes pop-in {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.task {
  &__title,
  &__description {
    display: block;
  }

  &.view-task {
    animation: pop-in .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: pointer;
    transition: background-color .3s ease-in-out;

    &:hover {
      background-color: rgba(purple, 0.1);
      transition: background-color .1s ease-in-out;
    }
  }

  &.editable-task {
    border-color: var(--color-task-border--editing);
    display: flex;
    flex-direction: column;
    padding-bottom: space(2);
  }
}


button,
.button {
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
  font-size: var(--base-font-size);
  padding: space(0.5) space();
}

.add-button {
  background-color: var(--color-button-bg);
  border: 1px solid var(--color-button-border);
  color: var(--color-button-text);
  margin: 0 space(2) space(2);
}

.remove-button {
  background-color: transparent;
  border: 1px solid var(--color-button-border);
  color: var(--color-button-text);
}
